/* Section Hero */

.SectionHero {
    position: relative;
    height: 500px;
    background: url('../../assets/img/event.jpg') rgba(0, 0, 0, 0.69);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  
  &__DataContainer {
    position: absolute;
    z-index: 1;
    left: calc((100% - 400px) / 2);
    top: calc((100% - 250px) / 2);
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
  }
  
    &__Title {
      text-align: center;
      font-size: 30px;
      color: #fff;
      margin-bottom: 20px;
    }
  
    &__Organizer {
      display: block;
      text-align: center;
      font-size: 30px;
      color: #c59613;
      margin-bottom: 30px;
    }
  
    &__Date {
      text-align: center;
      font-size: 25px;
      color: #fff;
      margin-bottom: 20px;
    }
  
      .Btn {
        margin: 0 auto;
      }
}